{% extends 'events/base.html' %}

{% block content %}

    <center>
        {% if user.is_authenticated %}
            <h1>Add Venue to Database</h1>
            <br><br> your id: {{ user.id }}
            {% if submitted %}

                <p> Your venue was submitted succefully!!!</p>

            {% else %}

                <form action="" method=POST enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Submit" class="btn btn-secondary">
                </form>
            {% endif %}
        {% else %}
            <p>Ooops! <a href="{% url 'login' %}">Login</a>  to wiev this page!</p>
        {% endif %}
    </center>

{% endblock %}